/* ace */
.ace_editor {
  position: relative !important;
  border: 1px solid lightgray;
  margin: auto;
  height: 350px;
  width: 100%;
}
.ace_editor.fullScreen {
  height: auto;
  width: auto;
  border: 0;
  margin: 0;
  position: fixed !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.fullScreen {
  overflow: hidden;
}
.scrollmargin {
  height: 350px;
  text-align: center;
}
#editor{
  height: 350px !important;
  resize: none;
  white-space: nowrap;
  font-size: 12px;
}

.output{
  height: 350px !important;
  resize: none;
  font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  font-size: 12px;
  color: #C5C8C6;
  background-color: #1D1F21;
  margin-bottom: -4.5px;
}

.card-panel{
  background-color: #424242 !important;
}

#verboseBtn{
  background-color: #5c6bc0;
  color: #ffffff;
}

.dropdown-content{
  overflow: visible !important;
}

.dropdown-content li > a, .dropdown-content li > span {
  font-size: 14px !important;
  margin-right: -35px !important;
}

.errorPrg{
  color: #f44336 !important;
}

body{
  background-color: #212121;
}

btn{
  color: #C5C8C6;
}

.collapsible-header{
  background-color: #bdbdbd !important;
}

.node-name{
  font-size: 10px !important;
}

.visual-tree{
  height: 500px;
}

.tabs .tab a.active{
  color: #7986cb !important;
}

.tabs .tab a{
  color: rgba(92, 107, 192, 0.7) !important;
}

.tabs .indicator{
  background-color: #9fa8da !important;
}

#symbolTable{
  font-size: 75%;
}

#machineCode{
  height: 150px !important;
}

#compileBtnLbl{
  width: 5em;
}

.spinner-1:before{
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30px;
  width: 30px;
  margin-top: -15px;
  margin-left: -15px;
  border: 2px solid lightgray;
  border-radius: 50%;
  border-top-color: coral;
  animation: spinner 0.9s linear infinite;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}